.ArrowGoBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  height: 24px;
}

.img {
  width: 24px;
  height: 24px;
  fill: #ff751d;
}

.title {
  color: #52555f;
  font-family: var(--bs-body-font-family);
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-left: 15px;
}
.ArrowGoBack:hover .title {
  color: #ff751d;
}

@media screen and (max-width: 1279px) {
  .ArrowGoBack {
    margin-right: auto;
  }
}
