.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* padding: 15px; */
  max-width: 1064px;
  margin: 20px auto;
}

.img {
  width: 14px;
  height: 14px;
  fill: #ff751d;
}

.button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:hover svg {
  fill: #cc5105;
}

.textCategories {
  margin: 0 15px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}
