.img {
  width: 24px;
  height: 24px;
  fill: #52555f;
}

.ReportsButton {
  display: flex;
  justify-content: center;
  
}

.title {
  color: #52555f;
  font-family: var(--bs-body-font-family);
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

.link {
  text-decoration: none;
  display: flex;
  width: 154px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 37px;
}

.ReportsButton:hover .img {
  fill: #ff751d;
}
.ReportsButton:hover .title {
  color: #ff751d;
}

@media screen and (max-width: 767px) {
  .ReportsButton {
    margin-top: 0;
  }
}

/* @media screen and (min-width: 768px) {
  .ReportsButton {
    margin-left: 110px;
  }
} */
@media screen and (min-width: 1280px) {
  .ReportsButton {
    margin-left: 205px;
  }
}
